In [1]:
import pandas as pd
import numpy as np
from google.colab import files

In [2]:
df = pd.read_csv('adatforras.csv')

In [3]:
df.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2024,SE,FT,AI Engineer,202730,USD,202730,US,0,US,M
1,2024,SE,FT,AI Engineer,92118,USD,92118,US,0,US,M
2,2024,SE,FT,Data Engineer,130500,USD,130500,US,0,US,M
3,2024,SE,FT,Data Engineer,96000,USD,96000,US,0,US,M
4,2024,SE,FT,Machine Learning Engineer,190000,USD,190000,US,0,US,M

In [4]:
df.describe()

          work_year        salary  salary_in_usd  remote_ratio
count  16534.000000  1.653400e+04   16534.000000  16534.000000
mean    2023.226866  1.637270e+05  149686.777973     32.003750
std        0.713558  3.402057e+05   68505.293156     46.245158
min     2020.000000  1.400000e+04   15000.000000      0.000000
25%     2023.000000  1.017630e+05  101125.000000      0.000000
50%     2023.000000  1.422000e+05  141300.000000      0.000000
75%     2024.000000  1.872000e+05  185900.000000    100.000000
max     2024.000000  3.040000e+07  800000.000000    100.000000

In [5]:
df.shape

(16534, 11)

In [6]:
df.dtypes

work_year              int64
experience_level      object
employment_type       object
job_title             object
salary                 int64
salary_currency       object
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
dtype: object

In [7]:
df.isnull().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [8]:
duplicated_rows = df[df.duplicated()]
num_duplicated_rows = duplicated_rows.shape[0]
num_duplicated_rows

df.drop_duplicates(inplace=True)

df.shape

(10113, 11)

In [9]:
year_counts =  df['work_year'].value_counts()
year_counts

work_year
2023    4632
2024    4074
2022    1116
2021     216
2020      75
Name: count, dtype: int64

In [10]:
df = df[ df['work_year'] > 2020]

In [11]:
df['remote_ratio'] = df['remote_ratio'].replace({0: 'on site', 50: 'hybrid', 100: 'remote'})

In [12]:
df['job_title'] = df['job_title'].replace({'Machine Learning Engineer':'ML Engineer'})

In [15]:
companies_loc =  df['company_location'].value_counts()

In [17]:
employees_contries =  df['employee_residence'].value_counts()

In [18]:
df['company_location'] = df['company_location'].replace({'IL':'PS'})
df['employee_residence'] = df['employee_residence'].replace({'IL':'PS'})

In [19]:
df.to_csv('adatforras_tisztitott.csv')
files.download("adatforras_tisztitott.csv")

In [20]:
unique_values = df['job_title'].unique()
unique_values

array(['AI Engineer', 'Data Engineer', 'ML Engineer', 'Data Analyst',
       'NLP Engineer', 'Data Scientist', 'Applied Scientist',
       'Data Manager', 'Data Architect', 'Data Operations Manager',
       'Research Scientist', 'Data Science Manager',
       'Business Intelligence Engineer', 'Business Intelligence',
       'Data Modeler', 'Data Integration Specialist',
       'Data Product Manager', 'Data Visualization Specialist',
       'Data Science', 'Data Specialist', 'Business Intelligence Lead',
       'Research Analyst', 'Business Intelligence Analyst',
       'AI Software Engineer', 'Machine Learning Scientist',
       'Data Science Engineer', 'Machine Learning Operations Engineer',
       'Analytics Engineer', 'Data Management Analyst',
       'Encounter Data Management Professional',
       'Data Analytics Specialist', 'Head of Data', 'Data Analytics Lead',
       'Research Engineer', 'AI Scientist',
       'Business Intelligence Developer', 'Machine Learning Developer',
       'Data Management Specialist', 'Data Infrastructure Engineer',
       'BI Developer', 'Admin & Data Analyst', 'Insight Analyst',
       'Consultant Data Engineer', 'Business Intelligence Manager',
       'Manager Data Management', 'Data Quality Manager',
       'Data Analytics Manager', 'Robotics Engineer',
       'Business Intelligence Specialist', 'Data Operations Analyst',
       'Director of Business Intelligence', 'Data Product Owner',
       'AI Research Scientist', 'Data Operations Specialist',
       'Bear Robotics', 'Data Science Consultant', 'Data Lead',
       'Data Operations Associate', 'AI Architect', 'Lead Data Scientist',
       'MLOps Engineer', 'BI Analyst', 'Applied Research Scientist',
       'Prompt Engineer', 'Data Integration Engineer',
       'Machine Learning Infrastructure Engineer', 'Data Developer',
       'CRM Data Analyst', 'ETL Developer', 'Cloud Database Engineer',
       'Data Science Analyst', 'Data Science Practitioner',
       'BI Data Analyst', 'Applied Data Scientist',
       'Data Quality Engineer', 'Computational Biologist',
       'Big Data Engineer', 'Data Analytics Associate',
       'Data Reporting Analyst', 'Data Management Consultant',
       'Data Quality Analyst', 'Robotics Software Engineer',
       'Machine Learning Researcher', 'Data DevOps Engineer',
       'Data Science Director', 'Data Strategist', 'Big Data Developer',
       'Quantitative Research Analyst', 'Lead Machine Learning Engineer',
       'Machine Learning Research Engineer', 'Data Analytics Consultant',
       'AI Research Engineer', 'AI Programmer', 'ETL Engineer',
       'AI Product Manager', 'AI Developer', 'Computer Vision Engineer',
       'Head of Machine Learning', 'Data Analyst Lead',
       'Data Integration Developer', 'ML Ops Engineer',
       'Data Pipeline Engineer', 'Lead Data Analyst', 'Data Science Lead',
       'Director of Data Science', 'Managing Director Data Science',
       'Business Data Analyst', 'Marketing Data Scientist',
       'Deep Learning Engineer', 'Machine Learning Modeler',
       'Decision Scientist', 'Financial Data Analyst',
       'Data Strategy Manager', 'Data Visualization Engineer',
       'Principal Data Scientist', 'Machine Learning Software Engineer',
       'Applied Machine Learning Scientist', 'Data Operations Engineer',
       'Machine Learning Manager', 'Principal Machine Learning Engineer',
       'Principal Data Engineer', 'Power BI Developer',
       'Head of Data Science', 'Staff Machine Learning Engineer',
       'Machine Learning Specialist',
       'Business Intelligence Data Analyst', 'Data Modeller',
       'Finance Data Analyst', 'Software Data Engineer',
       'Compliance Data Analyst', 'Cloud Data Engineer',
       'Analytics Engineering Manager', 'Staff Data Analyst',
       'AWS Data Architect', 'Product Data Analyst',
       'Data Visualization Analyst', 'Autonomous Vehicle Technician',
       'Applied Machine Learning Engineer', 'BI Data Engineer',
       'Deep Learning Researcher', 'Big Data Architect',
       'Computer Vision Software Engineer', 'Azure Data Engineer',
       'Marketing Data Engineer', 'Data Science Tech Lead',
       'Data Scientist Lead', 'Marketing Data Analyst',
       'Principal Data Architect', 'Data Analytics Engineer',
       'Cloud Data Architect', 'Lead Data Engineer',
       'Principal Data Analyst', 'Staff Data Scientist'], dtype=object)

In [ ]:
category_counts = df['job_title'].value_counts()
category_counts

job_title
Data Engineer                    1829
Data Scientist                   1814
Data Analyst                     1378
ML Engineer                      1112
Analytics Engineer                354
                                 ...
Staff Data Analyst                  1
Analytics Engineering Manager       1
Big Data Developer                  1
Power BI Developer                  1
Staff Data Scientist                1
Name: count, Length: 153, dtype: int64

In [ ]:
df['job_title'].value_counts().head(20)

job_title
Data Engineer                     1829
Data Scientist                    1814
Data Analyst                      1378
ML Engineer                       1112
Analytics Engineer                 354
Research Scientist                 318
Data Architect                     283
Research Engineer                  218
Data Science                       206
Business Intelligence Analyst      172
Applied Scientist                  141
Research Analyst                   113
Business Intelligence Engineer     110
Machine Learning Scientist         108
Data Manager                       106
AI Engineer                        105
Data Science Manager               100
Business Intelligence               85
Data Specialist                     76
BI Developer                        63
Name: count, dtype: int64